@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --default-font-family: "Gilroy";
}

@layer base {
  .font-gilroy-light {
    font-family: "Gilroy";
    font-weight: 300;
  }

  .font-gilroy-regular {
    font-family: "Gilroy";
    font-weight: 400;
  }

  .font-gilroy-bold {
    font-family: "Gilroy";
    font-weight: 700;
  }

  body {
    font-family: var(--default-font-family);
  }
}

@layer components {
  .btn-custom {
    @apply cursor-pointer px-4 py-2 bg-[#66a589] text-white font-semibold rounded-[5px] hover:bg-[#588a73] focus:outline-none focus:ring-2;
  }
}

.input-custom {
  height: 55px;
  font-family: "Gilroy", sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 464%;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Gilroy", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

select {
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Gilroy", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 20px !important;
}
